*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    scroll-behavior: smooth;
}
h1
{
    font-family: sub-title;
    padding: 2rem;
    color: #b876cd;
    
    animation: pulse;
    animation-duration: 1s;
}
h2
{
    font-family: sub-title;
    font-size: 1.7rem;
    margin: 1rem 0;
    color: #ede97c;
}
h3
{
    font-family: sub-title;
    font-size: 1.5rem;
    color: #2d9fff;
}
h4
{
    font-size: 1.7rem;
}
p
{
    margin: 1rem 0;
    font-family: text;
    font-size: 1.2rem;
    color: #fff;
}
li
{
    font-family: text;
    margin: 2rem 0;
    color: #fff;
}
code
{
    background-color: #7474745e;
    border-radius: 5px;
    padding: 2px;
}


.separator
{
    width: 100%;
    height: .5rem;
    background-color: #b876cd;
    border: none;
}
.separator:nth-child(3)
{
    background-color: #ede97c;
}
.separator:nth-child(4)
{
    background-color: #2d9fff;
}


.separator__info
{
    height: 3px;
    border: none;
    background-color: #fff;
}

@font-face
{
    font-family: title;
    src: url(/fontfamily/Montserrat/Montserrat-Bold.ttf);
}
@font-face
{
    font-family: sub-title;
    src: url(/fontfamily/Montserrat/Montserrat-Medium.ttf);
}
@font-face
{
    font-family: text;
    src: url(/fontfamily/Montserrat/Montserrat-Light.ttf);
}