*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
    text-decoration: none;
}
div
{
    margin: 0 !important;
}
.button
{
    border: 2px solid #20386B;
    color: #20386B;
    margin: .5rem .5rem;
}
.button:active
{
    background-color: #20386B;
    color: #fff;
}
h1
{
    font-family: Kanit-Thin;
}
.slider__images
{
    height: 89vh;
    background: url(/images/sea-g6445edafa_1280.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    align-items: center;
}
.slide__text
{
    font-family: Kanit-SemiBold;
    font-size: 3rem;
    color: #3f2a2a;
}
.slide__button
{
    border: 2px solid #3f2a2a;
    padding: .5rem;
    color: #3f2a2a;
}
.slide__button:hover
{
    background-color: #3f2a2a;
    color: #fff;
}

.section__container
{
    height: 78vh;
}
.button__down
{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #20386B;
    color: #20386B;
    margin:.5rem .5rem;
}
.button__down:active
{
    background-color: #20386B;
    color: #fff;
}
.article__container 
{
    background-color: #946868;
}
.section__content
{
    background-color: #6b4848;  
}
.footer__container
{
    background-color: #727272;
    height: 20vh;
}




@media only screen and (max-width: 900px){
    .slider__images{
       background-size: 120vh;
    }
}
@font-face
{
    font-family: Kanit-Thin;
    src: url(/fontfamily/Kanit/Kanit-Thin.ttf);
}
@font-face
{
    font-family: Kanit-SemiBold;
    src: url(/fontfamily/Kanit/Kanit-SemiBold.ttf);
}
