/* Contenedores */

body
{
    background-color: #0b0e17;
}
header.header
{
    padding: 0;
    margin: 0;
    height: 100vh;

}
main
{
    display: flex;
    justify-content: center;
}
hr
{
    width: 100%;
    height: .5rem;
    background-color: #b876cd;
    border: none;
}
hr:nth-child(3)
{
    background-color: #ede97c;
}
hr:nth-child(4)
{
    background-color: #2d9fff;
}
/* slide inicio */

.slide
{
    height: 100%;
    background: #0b0e17;
    background-size: 100%;
    width: 100%;
    align-items: center;
}
.slide__button
{
    border: 2px solid #FFF;
    color: #FFF;
    margin: .5rem .5rem;
    font-family: sub-title;

    animation: bounceInDown;
    animation-duration: 1s;
}
.slide__button:hover
{
    background-color: #FFF;
    color:currentColor;
}

.slide__text
{
    font-family: title;
    font-size: 5rem;
    margin: 0 0 3rem;
    color: #fff;

    animation: bounceInDown;
    animation-duration: 1s;
}

 /* Semantica elements */

.semantica__title
{
    font-size: 2rem;
    text-align: center;
}
.example__title
{
    text-align: center;
}
.example__images
{
    width: 80%;
}

/* Tabla etiquetas semanticas */

td, tr, th
{
    border: 1px solid #FFF;
    padding: 1rem;
    text-align: left;
    color: #fff;
    text-shadow: 2px #fff6 ;

}
.table
{
    border-spacing: 0;
    margin: 2rem 0;
}
th
{
    width: 20%;
    font-size: 1.2rem;
    font-family: sub-title;
}
td
{
    width: 80%;
    font-size: 1.2rem;
    font-family: text;
}

/* mediaqueries elements */

.mediaqueries__title
{
    font-size: 2rem;
    text-align: center ;
}
.list__mediaqueries
{
    padding: 0 3rem;
}
.list__mediatypes
{
    padding: 0 3rem;
    list-style: none;
}
.logic__element-list
{
    list-style: none;
    padding: 0 3rem;
}

/* aside elements*/

.aside__container
{
    width: 100%;
    border: 2px solid #FFF;

}
.aside__list
{
    list-style: none;
}

/* turn.js elements */

.turn__title
{
    font-size: 2rem;
    text-align: center;
}
.turn__button
{
    border: 2px solid #fff;
    color: #FFF;
    margin: .5rem .5rem;
    padding: .5rem 1rem;
    font-family: sub-title;
    font-size: 1.7rem;
    display: flex;
    justify-content: center;
}
.turn__button:hover
{
    background-color: #FFF;
    color: #0b0e17;
}

/* animate.style elements */

.animate__title
{
    font-size: 2rem;
    text-align: center;
}
.animate__button
{
    border: 2px solid #fff;
    color: #FFF;
    margin: .5rem .5rem;
    padding: .5rem 1rem;
    font-family: sub-title;
    font-size: 1.7rem;
    display: flex;
    justify-content: center;
    text-align: center;
}
.animate__button:hover
{
    background-color: #FFF;
    color: #0b0e17;
}
/* mediaqueries */

@media only screen and (max-width: 1200px){
    .slide{
       background-size: 200vh;
    }
    .slide__text{
        font-size: 2.5rem;
    }
}

@media only screen and (max-width: 1000px){
    main{
        margin: 1rem;
    }
}