*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
h1
{
    font-family: Kanit-Thin;
}
header.header
{
    padding: 0;
    margin: 0;
    height: 100vh;

}
.slide
{
    height: 100%;
    background: url(/images/sea-g6445edafa_1280.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    align-items: center;
}
.slide__button
{
    border: 2px solid #FFF;
    color: #FFF;
    margin: .5rem .5rem;
}
.slide__button:hover
{
    background-color: #FFF;
    color:currentColor;
}

.slide__text
{
    font-family: Kanit-SemiBold;
    font-size: 5rem;
    margin: 0 0 3rem;
    color: #fff;
}



@media only screen and (max-width: 900px){
    .slide{
       background-size: 200vh;
    }
    .slide__text{
        font-size: 2.5rem;
    }
}
@font-face
{
    font-family: Kanit-Thin;
    src: url(/fontfamily/Kanit/Kanit-Thin.ttf);
}
@font-face
{
    font-family: Kanit-SemiBold;
    src: url(/fontfamily/Kanit/Kanit-SemiBold.ttf);
}
